<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/main.css" />
    <title>Probit Academy</title>
  </head>
  <body>
    <header class="header">
      <div class="banner">
        <div class="wrapper-960">
          <div class="header__inner">
            <a href="#">Probit Academy Logo</a>
            <div class="header__nav">
              <a href="#">Home</a>
              <a href="#">About</a>
              <a href="#">Contact us</a>
            </div>
          </div>

          <div class="header__main">
            <h1 class="header__main--title">Welcome to Probit Academy</h1>

            <div class="header__main--content">
              <article class="header__main--content__acticle">
                <img src="../images/sports-car.svg" alt="car" class="fa-car" />
                <h3 class="header__main--content--articleTitle">Aliquam</h3>
                <p class="header__main--content--articleDescription">
                  Suspendisse amet ullamco
                </p>
              </article>
              <article class="header__main--content__acticle">
                <img src="../images/camera.svg" alt="car" class="fa-camera" />
                <h3 class="header__main--content--articleTitle">Elementum</h3>
                <p class="header__main--content--articleDescription">
                  Class aptent taciti ad litora
                </p>
              </article>
              <article class="header__main--content__acticle">
                <img src="../images/bug.svg" alt="car" class="fa-bug" />
                <h3 class="header__main--content--articleTitle">Ultrices</h3>
                <p class="header__main--content--articleDescription">
                  Nulla vitae mauris non felis
                </p>
              </article>
            </div>

            <button type="button" class="header__main__button">
              GET STARTED
            </button>
          </div>
        </div>
      </div>
    </header>

    <main>
      <div class="wrapper-960">
        <div class="main__inner">
          <section class="main__inner__section">
            <img
              src="../images/pic01.jpg"
              alt="photo1"
              class="main__inner__section__img"
            />
            <h2 class="main__inner__section--title">
              Lorem ipsum <br />
              dolor amet nullam
            </h2>
            <p class="main__inner__section__paragraph">
              Morbi in sem quis dui placerat ornare. Pellentesquenisi euismod
              in, pharetra a, ultricies in diam sed arcu. Cras consequat egestas
              augue vulputate.
            </p>
            <button type="button" class="main__section__button">
              Learn more
            </button>
          </section>

          <section class="main__inner__section">
            <img
              src="../images/pic02.jpg"
              alt="photo2"
              class="main__inner__section__img"
            />
            <h2 class="main__inner__section--title">
              Sed feugiat <br />
              tempus adipicsing
            </h2>
            <p class="main__inner__section__paragraph">
              Pellentesque fermentum dolor. Aliquam quam lectus facilisis
              auctor, ultrices ut, elementum vulputate, nunc blandit ellenste
              egestagus commodo.
            </p>
            <button type="button" class="main__section__button">
              Learn More
            </button>
          </section>
        </div>
        <article>
          <table class="main__table">
            <thead>
              <tr>
                <th>Class name</th>
                <th>TYPE</th>
                <th>HOURS</th>
                <th>TRAINER</th>
                <th>SPOTS</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Web Development</td>
                <td>Coding</td>
                <td>9:00 AM - 11:00 AM</td>
                <td>Endrita Vllasaliu</td>
                <td>1</td>
              </tr>
              <tr>
                <td>Web Development</td>
                <td>Coding</td>
                <td>9:00 AM - 11:00 AM</td>
                <td>Endrita Vllasaliu</td>
                <td>1</td>
              </tr>
              <tr>
                <td>Web Development</td>
                <td>Coding</td>
                <td>9:00 AM - 11:00 AM</td>
                <td>Endrita Vllasaliu</td>
                <td>1</td>
              </tr>
              <tr>
                <td>Web Development</td>
                <td>Coding</td>
                <td>9:00 AM - 11:00 AM</td>
                <td>Endrita Vllasaliu</td>
                <td>1</td>
              </tr>
              <tr>
                <td>Web Development</td>
                <td>Coding</td>
                <td>9:00 AM - 11:00 AM</td>
                <td>Endrita Vllasaliu</td>
                <td>1</td>
              </tr>
              <tr>
                <td>Web Development</td>
                <td>Coding</td>
                <td>9:00 AM - 11:00 AM</td>
                <td>Endrita Vllasaliu</td>
                <td>1</td>
              </tr>
              <tr>
                <td>Web Development</td>
                <td>Coding</td>
                <td>9:00 AM - 11:00 AM</td>
                <td>Endrita Vllasaliu</td>
                <td>1</td>
              </tr>
              <tr>
                <td>Web Development</td>
                <td>Coding</td>
                <td>9:00 AM - 11:00 AM</td>
                <td>Endrita Vllasaliu</td>
                <td>1</td>
              </tr>
            </tbody>
          </table>
        </article>
      </div>
    </main>

    <footer class="footer">
      <div class="wrapper-960">
        <h2 class="footer--title">Get in touch</h2>
        <form action="#">
          <div class="form--personalInfo">
            <div class="form--name">
              <label for="first_name" class="form-group__label">Name</label>
              <input
                type="text"
                name="name"
                id="name"
                placeholder="Enter your name"
                class="form-group__input"
              />
            </div>
            <div class="form--email">
              <label for="email" class="form-group__label">Email</label>
              <input
                type="email"
                name="email"
                id="email"
                placeholder="Enter your email"
                class="form-group__input"
              />
            </div>
          </div>
          <div>
            <label for="message" class="form-group__label">Message</label>
            <textarea
              name="message"
              id="message"
              cols="30"
              rows="5"
              placeholder="Enter your message"
              class="form-group__textarea"
            ></textarea>
          </div>
          <button type="button" class="footer__button">SEND MESSAGE</button>
          <p class="footer--copyright">
            Copyright &copy; 2020 Endrita Vllasaliu. All rights reserved.
          </p>
        </form>
      </div>
    </footer>
  </body>
</html>
